<% content_for :header do -%>
	<%= "Recent Activities"[] %>
<% end -%>

<% content_for :sidebar do -%>
	<%#= render :partial => "searches/box", :locals => {:model => 'User', :type => 'Users'[]} %>
<% end -%>

<table class="index">
  <%- @activities = Activity.find_recent %>
  <%= render :partial => 'shared/activity_item', :collection => @activities %>
  <% if @activities.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>