<% content_for :sidebar do -%>
<h2>My account</h2>

<ul>
	<li><%= link_to "Update my profile", edit_profile_url(current_user) %></li>
</ul>

<ul>
	<% # TODO: (base_app) Implement 'change email' feature %>
	<li><%= link_to "Change my email address", "#" %></li>
	<% # TODO: (base_app) Implement 'change password' feature %>
	<li><%= link_to "Change my password", "#" %></li>
</ul>

<% unless admin? -%>
<ul>
	<li><%= link_to "Delete my account", user_url(current_user), :method => :delete, :confirm => "Are you sure you want to schedule your account for deletion? All data linked to your account on base_app will be removed from our systems.\n\nTHIS ACTION CANNOT BE UNDONE!\n\nThanks for using base_app. We hope to see you again soon!"%></li>
</ul>
<% end -%>
<% end -%>