<h3><%= "Profile"[] %>
<%= link_to "Edit"[], edit_profile_path(@user) if current_user == @user %>
</h3>

<table class="overview">
	<% @profile.public_attributes.each do |column| -%>
		<%= cell "#{column.humanize}"[], "#{auto_link(@profile.send(column)) || '-'}" %>
	<% end -%>
	<%= cell_separator %>
</table>