Hello, 

<%= @user.login %>, your account has been activated. You may now use your login credentials to access your account at <%= @site_name %>.

  <%= @url %>

Best regards, 

The <%= @site_name %> Team.