Hello <%= @user.login %>,

You have indicated that you have forgotten your <%= @site_name %> account's password. To reset your password, click the following link:

  <%= @url %>

Note: If you did not request a new password, please ignore this email. You will be able to access your account as normal. If you did request this email, you must take action within 24 hours after this email was sent. 

Best regards, 

The <%= @site_name %> Team