Hello,

Your new password for your <%= @site_name %> account is:

  <%= @user.password %>

With this new password, you can log in to <%= @site_name %>. Please change your password under 'My Account' to something more secure and easy to remember. You may login at:

  <%= @url %>

Best regards, 

The <%= @site_name %> Team.