Hello,

Your new password for your base_app account is:

  <%= @user.password %>

With this new password, you can log in to base_app. Please change your password under 'My Account' to something more secure and easy to remember. You may login at:

  <%= @url %>

Best regards, 

The base_app Team.