Hello,

An account has been created for you at <%= @site_name %>. You login credentials are:

  Username: <%= @user.login %>
  Password: <%= @user.password %>

Before you can access your account, we require you to activate it. You can activate your account now by visiting the following url:

  <%= @url %>

Best regards, 

The <%= @site_name %> Team.