<h2>User management</h2>

<ul>
	<li><a href="#">Manage user accounts</a></li>
	<li><%= link_to "Manage roles", admin_roles_url %></li>
</ul>

<h2>Settings</h2>

<ul>
	<% # TODO: (base_app) Implement app settings %>
	<li><%= link_to "Manage base_app settings" %></li>
</ul>