<h2>User management</h2>

<ul>
	<li><%= link_to "Manage user accounts", admin_users_url %></li>
</ul>

<h2>Settings</h2>

<ul>
	<li><%= link_to "Manage #{s(:site_name)} settings", admin_settings_url %></li>
</ul>