<% content_for :header do -%>
	Password Recovery
<% end -%>

<% unless @user.nil? || !@user.active? %>
	<p>
		You have successfully reset your password. You will receive an email with your new password shortly.
	</p>
	
	<p>
		<strong>Note: After you login, please change your password to a more secure and easier to remember password.</strong>
	</p>
	
	<div id="submitbutton">
		<p><%= link_to "Login now &raquo;", login_url %></p>
	</div>
<% else %>
	<p>
		We're sorry, but we couldn't reset your password for you.
	</p>
	
	<p>
		To obtain a new password, please contact support at <%= secure_mail_to "support@base_app_url.host" %>.
	</p>
<% end %>