<%- unless activity_mini_item.item.nil? -%>
  <tr>
    <td width="40"><%= avatar_for(activity_mini_item.user, "thumb") %></td>
    <td>
      <%= minifeed_message activity_mini_item %><br/>
      [<%= time_ago_in_words activity_mini_item.created_at %> ago]
    </td>
  </tr>
<%- end -%>
