<div style="font-size:1.5em;font-weight:bold;"><%= 'Activity'[] %></div>
<table class="index">
  <%- @activities = Activity.find_recent -%>
  <%= render :partial => 'shared/activity_mini_item', :collection => @activities %>
  <% if @activities.empty? %><tr><td><%= "No record"[] %></td></tr><% end %>
</table>