<ul>
	<li style="float: right;"><%= tab_to '订单查询', [{:controller => "orders"}] %></li>
	<li style="float: right;"><%= tab_to '订单录入', [{:controller => "orders", :action => 'new'}] %></li>

	<li><%= tab_to "Dashboard"[], [{:controller => "dashboard" }] %></li>
</ul>
