<ul>
	<li style="float: right;"><%= tab_to "Settings", [{:controller => "admin/settings"}] %></li>
	
	<li><%= tab_to "Dashboard", [{:controller => "admin/dashboard"}] %></li>
	<li><%= tab_to "Users", [{:controller => "admin/users"}] %></li>
</ul>